<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/share/1AHYj3kYF9/"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/wanderlust_page01?igsh=NGtiODdueDd6OGt5"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/wanderlust-page-b50b96383?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        ><i class="fa-brands fa-square-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a
        href="https://www.freeprivacypolicy.com/live/ee66422c-5162-4f62-bbe0-2ec8c18db0cc"
        >Privacy</a
      >
      <a
        href="https://www.freeprivacypolicy.com/live/ee66422c-5162-4f62-bbe0-2ec8c18db0cc"
        >Terms</a
      >
    </div>
  </div>
</footer>
