body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding-bottom: 2.5rem;
}

/* Navbar */
.navbar {
  height: 4rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a :hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 7rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Index Page */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter {
  text-align: center;
  margin-right: 1rem;
  margin-top: 2rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter.active {
  opacity: 1;
  color: #fe424d;
}

.filter p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  font-size: 0.9rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
}

.listing-card {
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}

.listing-card:hover {
  transform: translateY(-5px);
}

.no-results {
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  color: #666;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  height: 350px;
  width: 90vh;
}
